.contacts {
    background-color: $light-grey-1;
    border-bottom: 1px solid #e2e2e2;

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__item {
        padding: 1rem 0;

        &:first-child {
            margin-right: 4rem;
            border-right: 1px solid #e2e2e2;
            padding-right: 2rem;
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        color: $dark-grey-2;
        font-family: $regular;
        font-size: 1.5rem;
        line-height: 1;
        text-decoration: none;
    }

    &__icon {
        display: inline-block;
        margin-right: .5rem;
    }

    &__facebook {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 5px;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__social {
        color: #fff;
    }
}