@mixin custom-link-style($color, $link-hover) {
    color: $color;
    text-decoration: none;
    transition: color $slow-transition;
  
    &:hover,
    &:focus {
      color: $link-hover;
    }
}

@mixin button-general-style($background-color) {
    display: inline-block;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: $bold;
    text-decoration: none;
    background-color: $background-color;

    &:hover {
      background-color: lighten($background-color, 10%);
    }
  
  &:focus {
    outline: none;
  }
}