$bold: 'Helvetica Neue Bold', sans-serif;
$light: 'Helvetica Neue Light', sans-serif;
$regular: 'Helvetica Neue Regular', sans-serif;
$step-font: 'Georgia Bold', serif;

$slow-transition: 230ms ease-in-out;

$red: #de2b24;
$pink: #f35e59;
$blue: #1287bf;
$yellow: #f8cd53;
$dark-grey-1: #424242;
$dark-grey-2: #2a2a2a;
$light-grey-1: #f0f2f4;
$light-grey-2: #828282;

$background-color: $red;
$color: $dark-grey-2;
$link-hover: $red;